<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> {{ isAddMoneyMode ? "Add to '" + pot.name + "'" : "Withdraw from '" + pot.name + "'" }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="potForm" (ngSubmit)="onSubmit()">
            <div class="form-text mb-3">
                <span>The progress bar shows your savings so far, and updates dynamically with the amount you enter in 'Amount to Add' field.</span>
            </div>

            <div class="d-flex align-items-center mt-4">
                <div class="flex-grow-1">Total Saved with New Amount</div>
                <div class="fs-2">{{ (isAddMoneyMode ? (pot.total + addedOrWithdrawnAmount) : (pot.total - addedOrWithdrawnAmount)) | currency}}</div>
            </div>

            <div class="progress-stacked">
                <div class="progress" role="progressbar" [style.width]="((isAddMoneyMode ? pot.total : (pot.total - addedOrWithdrawnAmount))  / pot.target) | percent: '1.0-2'" title="Amount already saved">
                  <div class="progress-bar bg-dark"></div>
                </div>
                <div class="progress" role="progressbar" [style.width]="(addedOrWithdrawnAmount / pot.target) | percent: '1.0-2'" title="{{ isAddMoneyMode ? 'Amount to add' : 'Amount to Withdraw'}}">
                  <div class="progress-bar" [ngClass]="isAddMoneyMode ? 'bg-success' : 'bg-danger'"></div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-2">
                <div>{{ (isAddMoneyMode? (pot.total + addedOrWithdrawnAmount) : (pot.total - addedOrWithdrawnAmount)) / pot.target | percent: '1.0-2' }}</div>
                <div class="text-end">Target of {{pot.target | currency}}</div>
            </div>
            
            <div class="my-3">
                <label class="form-label">Amount to {{isAddMoneyMode ? 'Add' : 'Withdraw'}}</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" formControlName="amountToAddOrWithdraw">
                </div>
                <div *ngIf="potForm.get('amountToAddOrWithdraw')?.invalid && potForm.get('amountToAddOrWithdraw')?.touched" class="text-danger">
                    Field is required and must be a number above zero.
                </div>
            </div>
          
            <div class="d-grid"> 
                <button type="submit" class="btn btn-primary" [disabled]="potForm.invalid">
                    Confirm {{isAddMoneyMode ? 'Addition' : 'Withdrawal'}}
                </button>
            </div>
        </form>
    </div>
</div>
