
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> {{ isEditMode ? 'Edit Pot' : 'Add New Pot' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="potForm" (ngSubmit)="onSubmit()">
            <div class="form-text mb-3">
                <span *ngIf="isEditMode">If your saving targets change, feel free to update your pots.</span>
                <span *ngIf="!isEditMode">Create a pot to set savings targets. These can help keep you on track as save for special purchases.</span>
            </div>
            <div class="mb-3">
                <label class="form-label">Pot Name</label>
                <input type="text" class="form-control" formControlName="potName" maxlength="30">
                <div class="form-text float-end">{{ 30 - (potForm.get('potName')?.value?.length || 0) }} characters left</div>
                <div *ngIf="potForm.get('potName')?.invalid && potForm.get('potName')?.touched" class="text-danger">
                    Pot Name is required.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Target</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" formControlName="target">
                </div>
                <div *ngIf="potForm.get('target')?.invalid && potForm.get('target')?.touched" class="text-danger">
                    Target is required and must be a number above zero.
                </div>
            </div>
            <div class="btn-group d-grid mb-4" dropdown>
                <label class="form-label">Theme</label>
                <button class="form-select text-start" type="button" dropdownToggle>
                    <span *ngIf="selectedThemeId" class="circle me-7rem" [ngStyle]="{'background-color': selectedThemeHexCode}"></span> 
                    {{ selectedThemeName }}
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem" *ngFor="let theme of themes$ | async">
                        <a class="dropdown-item" (click)="onThemeSelect(theme)">
                            <span class="circle me-7rem" [ngStyle]="{'background-color': theme.hex_code}"></span>
                            {{ theme.color_name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-grid"> 
                <button type="submit" [disabled]="isEditMode ? (potForm.invalid || potForm.pristine) : potForm.invalid" class="btn btn-primary">
                    {{ isEditMode ? 'Save Changes' : 'Add Pot' }}
                </button>
            </div>
        </form>
        
    </div>
</div>


